{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        ShopSphere
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

</head>


<body>

<header class="navbar">

    <div class="container nav-content">

        <a
            href="{% url 'home' %}"
            class="logo"
        >
            ShopSphere
        </a>


        <nav>

            <a href="{% url 'home' %}">
                Home
            </a>

            <a href="{% url 'cart' %}">
                🛒 Cart
            </a>


            {% if user.is_authenticated %}

                <a href="{% url 'my_orders' %}">
                    My Orders
                </a>

                <span class="welcome">
                    Hi, {{ user.username }}
                </span>

                <form
                    method="POST"
                    action="{% url 'logout' %}"
                    class="logout-form"
                >

                    {% csrf_token %}

                    <button
                        type="submit"
                        class="nav-button"
                    >
                        Logout
                    </button>

                </form>

            {% else %}

                <a href="{% url 'login' %}">
                    Login
                </a>

                <a href="{% url 'register' %}">
                    Register
                </a>

            {% endif %}

        </nav>

    </div>

</header>


{% if messages %}

    <div class="container messages-container">

        {% for message in messages %}

            <div class="message {{ message.tags }}">
                {{ message }}
            </div>

        {% endfor %}

    </div>

{% endif %}


<main>

    {% block content %}
    {% endblock %}

</main>


<footer>

    <div class="container">

        <p>
            © 2026 ShopSphere.
            CodeAlpha Full Stack Development Internship.
        </p>

    </div>

</footer>


<script
    src="{% static 'js/script.js' %}"
></script>

</body>

</html>