{% extends "base.html" %}

{% block title %}
Login - ShopSphere
{% endblock %}


{% block content %}

<section class="auth-section">

    <div class="auth-container">

        <div class="auth-card">

            <h1>
                Welcome Back
            </h1>

            <p class="auth-subtitle">
                Login to your ShopSphere account.
            </p>


            <form
                method="POST"
                class="auth-form"
            >

                {% csrf_token %}


                <div class="form-group">

                    <label for="username">
                        Username
                    </label>

                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Enter your username"
                        required
                    >

                </div>


                <div class="form-group">

                    <label for="password">
                        Password
                    </label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        required
                    >

                </div>


                <button
                    type="submit"
                    class="btn btn-primary auth-button"
                >
                    Login
                </button>

            </form>


            <p class="auth-footer">

                Don't have an account?

                <a href="{% url 'register' %}">
                    Create Account
                </a>

            </p>

        </div>

    </div>

</section>

{% endblock %}